@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.scrollable-area {
  @apply  h-screen max-h-[100dvh] overflow-y-auto overflow-x-hidden;
}

.content-wrapper {
  @apply z-[1] w-full px-6 py-8 lg:px-8 lg:pb-16 lg:pt-24;
}

.content {
  @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
}